.film::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.film {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.film-clip {
  clip-path: inset(-100vw -100vw -100vw 0);
}

.card {
  filter: invert(1);
  transition: filter 0.4s ease;
}

.dragging .card:hover {
  filter: invert(1);
}

.card:hover {
  filter: invert(0);
}

.modal-image {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.film-wiggle {
  display: inline-block;
  animation: wiggle 1s ease-in-out infinite alternate;
  z-index: -10;
}

@keyframes wiggle {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0px);
  }
}
