.film::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.film {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.card {
  filter: invert(1);
  transition: filter 0.4s ease;
}

.card:hover {
  filter: invert(0);
}

.modal-image {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}
