.school-container {
  background-color: var(--secondary);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.15);
}

.content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers */
}

.content {
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
  scrollbar-width: none; /* For Firefox */
}

.scroll-button {
  background-color: var(--accent);
}
