@import "tailwindcss";

@theme inline {
  /* Background */
  --color-background-base: #0d0d0d;
  --color-background-elevated: #121212;
  --color-background-light: #737373;

  /* Text */
  --color-text-primary: #ffffff;
  --color-text-muted: #9f9f9f;
  --color-text-subtle: #262626;

  /* Accent */
  --color-accent: #e10600;
  --color-accent-hover: #bf0500;
  --color-accent-light: #ffffff;

  /* Borders */
  --color-border-subtle: #737373;
  --color-border-light: #ffffff;
}
