.timeline::before {
  content: "";
  position: absolute;
  width: 5px;
  background-color: var(--secondary);
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-container {
  background-color: var(--primary);
}

.event {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 0;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 5px solid var(--secondary);
  background-color: #0c0c1d;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.circle.active {
  border-color: var(--color-accent);
  outline: var(--color-accent) solid 1px;
}

/* Top Line */
.circle.active::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  background: linear-gradient(to top, var(--color-accent), var(--secondary));
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.circle::before,
.circle::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Bottom Line */
.circle.active::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 40px;
  background: linear-gradient(to bottom, var(--color-accent), var(--secondary));
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}

.text {
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: var(--secondary);
}

/* Positioning the text */
.event:nth-child(odd) .text {
  left: calc(50% + 40px); /* Move right */
  transform: translateX(0%);
  text-align: left;
}

.event:nth-child(even) .text {
  left: calc(50% - 40px); /* Move left */
  transform: translateX(-100%);
  text-align: right;
}
