/* Define the scrolling keyframes */
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Animation class */
.tech-scroll {
  animation: scroll 200s linear infinite;
}

.strip-container {
  position: relative;

  /* fade left & right */
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
