@import "tailwindcss";
@import "./styles/theme.css";

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Geist", system-ui, sans-serif;
  background-color: var(--color-background-base);
  color: var(--color-text-primary);
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-size: 1rem;
  line-height: 1.5rem;
}

body::-webkit-scrollbar {
  display: none;
}

.small {
  font-size: 0.8rem;
  line-height: 1.2rem;
  letter-spacing: 0.025em; /* slightly wider for small text */
}

h3 {
  font-size: 2.441rem;
  line-height: 1.4;
  font-weight: 500;
  letter-spacing: -0.01em;
}

h2 {
  font-size: 3.052rem;
  line-height: 0.8;
  font-weight: 600;
  letter-spacing: -0.015em;
}

h1 {
  font-size: 3.815rem;
  line-height: 1.2;
  font-weight: 700;
  letter-spacing: -0.02em;
}

nav {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
  letter-spacing: 0.02em; /* slightly spaced for clarity */
}

header .font-semibold {
  font-size: 0.875rem;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.05em;
}

header .font-semibold .text-accent-500 {
  font-weight: 700;
  letter-spacing: 0.05em;
}
