@import "tailwindcss";

:root {
  --background: #121212;
  --accent: #cb0404;
  --primary: #222222;
  --secondary: #fff2dd;
  --textlight: #e5e3d4;
  --textdark: #121212;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-text-light: var(--textlight);
  --color-text-dark: var(--textdark);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --accent: #cb0404;
    --primary: #222222;
    --textlight: #e5e3d4;
    --textdark: #121212;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
