@import "tailwindcss";
@import "./styles/theme.css";

body {
  font-family: var(--font-sans), system-ui, sans-serif;
  background-color: var(--color-background-100);
  color: var(--color-text-primary);
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

/*body {
  font-family: Arial, Helvetica, sans-serif;
  overflow: auto;
  
}

html {
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}*/
